body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7ebde;
    color: #421e02;
}
header {
    background: linear-gradient(to right, #6c3912, #a36638, #d6996a);
    color: white;
    padding: 1rem;
    text-align: center;
}
.espacio{
    padding-top: 40px;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky; /* Hace que el nav se quede fijo al llegar al top */
    top: 0;           /* Cuando llegue al top, se quedará pegado */
    background-color: #fdfcc6;
    width: 100%;
    z-index: 1000;    /* Asegura que el menú esté por encima de otros elementos */
    /* padding: 0.5rem; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el menú */
}
nav a {
    margin: .2rem 1rem;
    text-decoration: none;
    color: #d65f04;
    font-weight: bold;
    padding: 5px 15px;
    display: inline-block;
}

nav a:hover{
    color: #3d2512;
    background-color: #f39c12;
    border-radius: 5px;
}
.info-usuario{
    margin: .2rem 1rem;
    text-decoration: none;
    color: #d65f04;
    font-weight: bold;
    padding: 5px 15px;
    display: inline-block;
}
.info-usuario p{
    margin: 0;
}
section {
    padding: 0 2rem;
}
h2{
    text-align: center;
}
.menu{
    margin: 1rem;
    padding: 2%;
    border: 2px #1d3557 solid;
    border-radius: 40px 0;
    background-color: white;
    box-shadow: 12px 12px 20px 0px #6c3912;
}
.menu, .promociones, .joyeria {
    margin-bottom: 2rem;
    justify-items: center;
}
.menu h3{
    size: 2rem;
    width: 120px;
    border: 1.5px #1d3557 dotted;
    text-align: center;
}
.menu div{
    text-align: center;
    display: inline-block;
}
.menu h5{
    text-transform:uppercase;
    padding: .5rem;
    width: 200px;
    height: 40px;
    align-content: center;
}
.img{
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 40%;
}
.img:hover{
    border-radius: 10px;
}
.menu h5{
    margin: 0 5px;
}
.map {
    text-align: center;
}
iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.cartadepromos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}
.promo{
    width: 100px;
    height: 100px;
    border: 1px black dotted;
    margin: 5px;
    padding: 5%;
    text-align: center;
    background-color: #f5c6a5;
}
.joyeria{
    text-align: center;
}
.joyeria h5{
    font-size: 1.2rem;
}
.joyeria-articulos{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.joyeria-articulos .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.joyeria-articulos .img:hover{
    width: 150px;
    height: 150px;
}
strong {
    font-size: 1.3em;
    color: #e74c3c; /* Un color rojo para resaltar el monto */
}

.crepas {
    background: linear-gradient(to right, #ffd1a9, #ffb385);
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#crepa-form{
    display: flex;
    flex-wrap: wrap;
}

.crepa-option{
    vertical-align: top;
}
.crepa-option label{
    display: flex;
}
.crepa-option h3{
    border: none;
    height: 50px;
}

.crepa-option h3 {
    color: #e8842d;
    margin-bottom: 10px;
}

.crepa-option ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.crepa-option ul li {
    margin: 5px 0;
}

.submit-button {
    background-color: #e8842d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
}

.submit-button:hover {
    background-color: #d6741c;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 80px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.whatsapp-float img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

footer p{
    text-align: center;
}

@media screen and (max-width: 600px) {
    h2{
        margin-top: 40PX;
    }
}